@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&display=swap');

html, body {
  background-color: #371B58;
}
.App{
  background-color: #371B58;
  /* height: 3000vh; */
  font-family: 'Bitter';
  color:white
}



.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0px;
  height: 50px;
  font-family: 'Jost', sans-serif;
  background-color: #4C3575;
  z-index: 5;
}

.nav {
  margin-right: 25px;
  font-size: 20px;
  font-weight: 500;
  color:white;
  text-decoration: none;
  font-family: 'Bitter', sans-serif;
}


.nav:hover{
  cursor: pointer;
  text-decoration: underline;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}






.home-container,
.signin {
  min-height: calc(100vh - 4em);
  align-items: center;
  justify-content: center;
  text-align: center;
  color:#091e00;
}

.home-container img {
  max-width: 45%;
  margin: 0 auto;
  border-radius: 15%;
  border:#091e00 solid 5px;
}

.home-container button {
  padding: 0.8em 1.2em;
  margin:20px;
  margin-top: 30px;
  background-color: var(--primary-bg);
  color: var(--link-color-secondary);
  font-size: 1.1rem;
}

.home-container button:hover {
  transform: scale(1.1);
  background-color: var(--primary-button-hover);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.card-overlay {
  border: 2px solid var(--primary-button-hover);
  width: 60%;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.3);
}

form,
.input-wrapper {
  margin: auto;
  width: 80%;
}

form label {
  align-self: flex-start;
}

.input-wrapper {
  width: 80%;
  margin: 0;
  padding: 0;
}

.input-wrapper input {
  padding: 0.6em 1.2em;
  margin: 0.5em auto;
  width: 100%;
  border-color: var(--primary-bg);
  font-size: 1.1rem;
  outline: none;
}

input::placeholder {
  opacity: 0.7;
}

form button {
  background-color: var(--primary-button-hover);
  margin: 1em 0;
  color: var(--link-color-secondary);
  align-self: center;
  width: 100%;
}

form button:hover {
  opacity: 0.7;
}

form button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.lupuslink {
  padding: 30px;
}

.tracker-form {
  margin: 30px;
}

.welcome-message {
  width: 1000px;
  margin: 100px;
  padding: 20px;
  margin-bottom: 0;
  font-size: 110px;
  color: white;
  line-height: 120px;
  text-shadow: 3px 3px #7858A6;
  font-family: 'Bitter';
}

.tracker-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tracker-card, .topic-card{
  color:white;
  margin: 25px;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 2px 0px 15px #7858A6;
  border: 1px #7858A6;
}

.about-page {
  background-color: #371B58;
}

.page-name {
  text-align: center;
  color:white;
  font-size: 40px;
  padding:10px;
  text-shadow: 1px 1px #7858A6;
}

.label {
  display: block;
  margin: 10px 0 0;
  padding: 5px;
  color: white;
}

.tracker-form {
  text-align: center;
}

select {
  box-shadow: 2px 0px 15px #7858A6;
  font-family: 'Bitter';
}

.tracker-button {
  margin: 30px;
  width: auto;
  background-color: #7858A6;
  color: white;
}

.tracker-button:hover, .create-tracker-button:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: white;
  color: #7858A6;
}

.create-tracker-button{
  margin:30px;
  width: 75%;
  background-color: #7858A6;
  color: white;
}

.about-info{
  color: white;
  margin: 0 50px 0 50px;
  text-align: center;
}

.topic-date{
  margin: 25px 0px 25px 0px;
}

.topic-details{
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 10px 0px 10px 0;
}

.userid{
  font-size: smaller;
}

.topic-detail-display{
  padding:5px;
  margin: 50px 25px 10px 25px;
  border: 1px white;
  color:white;
  box-shadow: 2px 0px 15px #7858A6
}

.delete-button {
  margin: 5px;
  align-self: right;
}

.comment-card {
  margin: 25px;
  align-content: center;
  box-shadow: 2px 0px 15px #7858A6
}

.smalldetails{
  margin:0;
}

.form-label {
  margin: 30px;
}

@media screen and (max-width: 1220px) {
  .header {
    font-size: 93px;
    color: white;
    margin: 10px 0 0 0;
  }
  .tracker-container {
    margin: 15px;
  }
  .tracker-card {
    width: 400px;
  }
  .tracker-Form {
    height: 100.5px;
    margin: 0 0 50px 0;
  }
}
